# Dependencies
node_modules/

# Compilation Output
dist/
out/
*.tsbuildinfo

# VS Code Extension Packaging
*.vsix

# VS Code Test Run directory
.vscode-test/

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS Files
.DS_Store
Thumbs.db
