.vscode/**
.vscode-test/**
.github/**
src/**
scratch/**
node_modules/**
.gitignore
.yarnrc
build.js
*.vsix
webpack.config.js
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc*
**/*.map
**/*.ts
!dist/**
dist/*.map
